@font-face {
  font-family: 'Dymo';
  src: url(./fonts/ImpactLabelReversed.ttf);
}

@font-face {
  font-family: 'Digital';
  src: url(./fonts/Digital1.TTF);
}

/* ------------------------------------------------------------------------
Background
------------------------------------------------------------------------ */

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  width: 100vw;

  background: 
    linear-gradient(217deg, rgb(17, 16, 16), rgba(255,0,0,0) 110%),
    linear-gradient(127deg, rgb(15, 15, 15), rgba(0,255,0,0) 190%),
    linear-gradient(336deg, rgb(15, 15, 15), rgba(0,0,255,0) 290%);
}

/* ------------------------------------------------------------------------
Main Box
------------------------------------------------------------------------ */

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 500px;
  width: 1000px;

  border-radius: 2px;
  border: 2px solid rgb(143, 143, 143);

  background: url(./img/metal-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ------------------------------------------------------------------------
Each Timeframe
------------------------------------------------------------------------ */

.timeframe {
  height: 150px;
  width: 99%;
}

.date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 100px;
}

.month {
  width: 150px;
}

.day, .hour, .min, .sec {
  width: 110px;
}

.am-pm {
  width: 40px;
}

.date div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100px;
}

.date div p {
  margin: 0;

  font-family: Dymo;
  font-size: 24px;
  color: white;
  background-color: rgb(241, 2, 2);
}

.date div div {
  background-color: black;
  color: white;
  
  border-radius: 4px;
  
  height: 70px;

  font-family: Digital;
  font-size: 68px;
}

.month div {
  width: 120px;
}

.day div, .hour div, .min div, .sec div {
  width: 90px;
}

/* ------------------------------------------------------------------------
Each Legend
------------------------------------------------------------------------ */

.legend {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
}

.legend p {
  margin: 0;
  width: auto;

  font-family: Dymo;
  font-size: 32px;
  color: white;
  background-color: black;
}

/* ------------------------------------------------------------------------
Button
------------------------------------------------------------------------ */

.start {
  background: 
    linear-gradient(149deg, rgb(255, 0, 0), rgba(255,0,0,0) 110%),
    linear-gradient(26deg, rgb(172, 11, 11), rgba(255,0,0,0) 80%),
    linear-gradient(260deg, rgb(117, 7, 7), rgba(255,0,0,0) 110%);

  height: 120px;
  width: 120px;

  border: 1px solid rgb(163, 9, 9);
  border-radius: 60px;

  box-shadow: 10px 5px 10px black;

  font-family: Digital;
  font-size: 24px;
  font-weight: bold;
  color: rgb(8, 8, 8);
}